# Secrets para PRODUCCIÓN (repo-level). Rellena y guarda como .secrets.prod.env
# Coinciden con los nombres usados en .github/workflows/deploy-prod.yml

FLY_API_TOKEN_PROD=
WORDPRESS_DB_HOST_PROD=mysql.host.prod:3306
WORDPRESS_DB_USER_PROD=wp_user_prod
WORDPRESS_DB_PASSWORD_PROD=
WORDPRESS_DB_NAME_PROD=wordpress_prod
WP_URL_PROD=https://tu-dominio.org
WP_TITLE_PROD=Sitio (Producción)
WP_ADMIN_USER_PROD=admin
WP_ADMIN_PASSWORD_PROD=
WP_ADMIN_EMAIL_PROD=ops@tu-dominio.org
